services:
  redis:
    image: redis:alpine
    command: redis-server
    ports:
      - 6379:6379
    volumes:
      - redis:/data
    environment:
      - REDIS_REPLICATION_MODE=master
  go:
    build: ./go
    ports:
      - 8000:8000
    environment:
      - HOST=0.0.0.0
      - PORT=8000
      - REDIS_DSN=redis:6379
      - REDIS_DB=0
      - REDIS_TEST_DB=1
    depends_on:
      - redis
    restart: unless-stopped

volumes:
  redis:
    driver: local
